<div>
    <div class='btn btn-group-justified' >
        <a href='' ui-sref="admin.create-task" class='btn btn-success'> создать задачу</a>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>№</th>
            <th>Заголовок</th>
            <th>Краткое описание</th>
            <th>Дата</th>
            <th>Приоритет</th>
            <th>Просмотр</th>
            <th>Исправлены</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in tasks.tasks | filter:{ status:3}">
            <td>
                {{$index}}
            </td>
            <td>
                {{item.title}}
            </td>
            <td>
                <a href="" ui-sref="admin.preview({preview: 'create-tasks', id: item.id})"> {{item.shotDescpt}}</a>
            </td>
            <td>
                {{item.date}}
            </td>
            <td>
                <span class=" text-info"  type="button">{{item.priority}}</span>
            </td>
            <td>
                <a  class="btn btn-xs btn-info" href="" ui-sref="admin.preview({preview: 'create-tasks', id: item.id})"> Просмотр</a>
            </td>
            <td>
                <button class="btn btn-xs btn-info" disabled ng-click="adminMain.openAgain(item)"> Исправить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>