<div >
<div class='btn btn-group-justified' >
    <a href=''class='btn btn-success' disabled="disabled"> создать пользователя
    </a>
    <a href=''ng-click="adminUser.del()" disabled="disabled" class='btn btn-danger'> удалить пользователя
    </a>
    <a href='' ng-click="adminUser.block()" disabled="disabled" class='btn btn-primary'> Заблокировать пользователя
    </a>
</div>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>№</th>
        <th>Выделить</th>
        <th>Имя</th>
        <th>логин</th>
        <th>email</th>
        <th>группа</th>
        <th>статус</th>
        <th>должность</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in users.usersInPage track by $index">
        <td>
            <div class="checkbox">
                    {{$index}}
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label >
                    <input type="checkbox"  id="check">Check
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
               {{item.username}}
             </div>
        </td>
        <td>
            <div class="checkbox">
                {{item.username}}
            </div>
        </td>
        <td>
            <div class="checkbox">
                {{item.email}}
            </div>
        </td>
        <td>
            <div class="checkbox">
                {{item.group}}
            </div>
        </td>
        <td>
            <div class="checkbox">
                {{item.status}}
            </div>
        </td>
        <td>
            {{item.attribute}}
        </td>
        <td>
            <a class="btn btn-xs btn-success"  ui-sref="admin.edit({id: item.id})"> edit</a>
        </td>
        <td>
            <button class="btn btn-xs btn-warning" ng-click="users.del(item.id)" type="button">delet</button>
        </td>
    </tr>
    </tbody>
</table>
</div>

    <div class="section">
       <div class="wrapper1">
           <ul class="pagination">
               <li ng-repeat=" pages in users.pages" >
                   <a href="" ng-click="users.showPages(pages.link)" ng-bind-html="pages.name"></a></li>
           </ul>
       </div>
    </div>

