<div class='btn btn-group-justified' ng-controller="inVorckCtrl">
    <a href='#!/create'class='btn btn-success'> создать задачу
    </a>

</div>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>№</th>
        <th>Время принятия</th>
        <th>Приоритет</th>
        <th>Название</th>
        <th>Краткое описание</th>
        <th>Просморт</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in myTascks | filter:{status : 1 }">
        <td>

                {{$index}}

        </td>
        <td>
            13:00
        </td>
        <td>
            <span class=" text-info"  type="button">{{item.priority}}</span>
        </td>
        <td>
            {{item.title}}
        </td>
        <td>
            <a href="/#!/main#" ng-click="preview(item)"> {{item.shotDescpt}}</a>
        </td>
        <td>
            <button class="btn btn-xs btn-info"  ng-click="preview(item)"> Просмотр</button>
        </td>
    </tr>
    </tbody>
</table>