<div class='btn btn-group-justified'>
    <a href='#!/create'class='btn btn-success'> создать задачу
    </a>
    <a href='#!/remove' class='btn btn-danger'> удалить
    </a>
    <a href='#!/send' class='btn btn-primary'> отправить в обработку
    </a>
</div>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Check</th>
        <th>Title</th>
        <th>shotDescpt</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in myTascks | filter : {uid : userInfo.uid}">
        <td>
            <div class="checkbox">
                <label >
                    <input type="checkbox"  id="check">Check
                </label>
             </div>
        </td>
        <td>
            <div class="checkbox">
            {{item.title}}
            </div>
        </td>
        <td>
            {{item.shotDescpt}}
        </td>
        <td>
            <button class="btn btn-xs btn-warning" ng-click="del(item)" type="button">delet</button>
        </td>
        <td>
            <button class="btn btn-xs btn-success"  ng-click="edit(item)"> edit</button>
        </td>
    </tr>
    </tbody>
</table>
<!--ng-click="editPath('/edit')"-->