<div class="row" ng-controller="adminCtrl as adminCtrl">
    <div class="col-md-offset-2 col-md-8 content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Вход</h1>
                <a href="#!/admin/main">{{adminCtrl.islogin}}</a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <form  class="form-horizontal" name="autoForm" novalidate ng-submit="adminCtrl.inquiry(adminCtrl.User, autoForm.$valid)">
                    <div class="form-group">

                        <div class="form-group" ng-if="adminCtrl.showErrorPassword">
                            <div class="col-md-offset-4  col-md-8 has-error ">
                                <span>Неправильно введен логин или пароль</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-3" >Введите логин</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" name="username" class="form-control" ng-model="adminCtrl.User.username" ng-required="adminCtrl.requiredValue" ng-minlength="adminCtrl.minValue" ng-maxlength="adminCtrl.maxValue">

                        </div>
                    </div>
                    <div class="form-group" ng-if="adminCtrl.showError">
                        <div class="col-md-offset-4  col-md-8 has-error ">
                            {{adminCtrl.getError(autoForm.username.$error)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-3 control-label">Введите пароль</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pass" name="userPassword"  ng-model="adminCtrl.User.password" ng-required="adminCtrl.requiredValue" ng-minlength="adminCtrl.minValue" ng-maxlength="adminCtrl.maxValue">
                        </div>
                    </div>

                    <div class="form-group" ng-if="adminCtrl.showError">
                        <div class="col-md-offset-4  col-md-8 has-error ">

                            {{adminCtrl.getError(autoForm.userPassword.$error)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input type="checkbox">Запомнить в системе
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-md-offset-3 col-sm-3 ">
                            <button type="submit" class="btn bg-primary">ВХОД</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>