<div class="row" ng-controller="AdminMainCtrl">
    <div class="col-md-offset-1 col-md-10">
        <div class="tabs">
            <ul class="nav nav-tabs nav-justifid" id="my" role="tabs">

                <li ng-class="$first?'active':''" ng-repeat="item in adminMain.dataTabs" on-finish-render="adminMain.action()">
                    <a href="/#!/main#tab-{{$index}}" id="a_tab-{{$index}}" data-toggle="tab">{{item.name}}</a>
                </li>
            </ul>
            <div class="tab tab-content">
                <div class="tab-pane fade" ng-class="$first?'in active':''" id="tab-{{$index}}" ng-repeat="item in adminMain.tabs">

                    <div ng-include="item.a_tab" ng-show="adminMain.showUsers">
                    </div>
                    <div ng-include="adminMain.Url" ng-show="adminMain.showUsersEdit">
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<!--($first)? adminUser.Url:adminMain.Url;-->