<div class="row">
  <div class="col-md-offset-1 add_post col-md-10">


    <form class="form-horizontal" name="addPost" novalidate >
      <div class="form-group text-center">
        <h1> Описание ошибки</h1>
      </div>
      <div class="form-group">
        <label for="title" class="control-label col-md-4">Название</label>
        <div class="col-md-5">
          <select name="titl" class="form-control" id="title" required ng-model="edit.task.title">
            <option value="bag">Баг</option>
            <option value="typo">Опечатка</option>
            <option value="complete">Дополнить</option>
            <option value="errorDescription">Неправильное описание</option>
          </select>
        </div>
      </div>
      <div ng-if="addPost.titl.$touched">
        <div ng-messages="addPost.titl.$error" >
          <ng-messages-include src="tpl/validation/create.html"></ng-messages-include>
        </div>
      </div>
      <div class="form-group">
        <label for="priority" class="control-label col-md-4">Приоритет</label>
        <div class="col-md-5">
          <select name="prioriti" class="form-control" id="priority" required ng-model="edit.task.priority">
            <option value="low">Низкий</option>
            <option value="normal">Средний</option>
            <option value="high">Высокий</option>
            <option value="urgent">Неотложный</option>
          </select>
        </div>
      </div>
      <div ng-if="addPost.prioriti.$touched">
        <div ng-messages="addPost.prioriti.$error" >
          <ng-messages-include src="tpl/validation/create.html"></ng-messages-include>
        </div>
      </div>
      <div class="form-group">
        <label for="shotDescription" class="control-label col-md-4">Краткое описание</label>
        <div class="col-md-5">
          <input type="text" name="shotDesc" class="form-control" required id="shotDescription" ng-model="edit.task.shotDescpt">
        </div>
      </div>
      <div ng-if="addPost.shotDesc.$touched">
        <div ng-messages="addPost.shotDesc.$error" >
          <ng-messages-include src="tpl/validation/create.html"></ng-messages-include>
        </div>
      </div>
      <div class="form-group">
        <label for="versionOs" class="control-label col-md-4">Версия ОС</label>
        <div class="col-md-5">
          <input type="text" name="versOs" id="versionOs" ng-model="edit.task.versionOs" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="versionBrouser" class="control-label col-md-4">Название и версия браузера</label>
        <div class="col-md-5">
          <input type="text" name="versBraus" id="versionBrouser" ng-model="edit.task.versionBrouser" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="url" class="control-label col-md-4">Адрес страницы</label>
        <div class="col-md-5">
          <input type="url" name="urlPage" id="url" ng-model="edit.task.url" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="control-label col-md-4">Полное описание</label>
        <div class="col-md-5">
          <textarea name="descript" class="form-control" id="description" ng-model="edit.task.description" required cols="30" rows="10">
          </textarea>
        </div>
      </div>
      <div ng-if="addPost.descript.$touched">
        <div ng-messages="addPost.descript.$error" >
          <ng-messages-include src="tpl/validation/create.html"></ng-messages-include>
        </div>
      </div>
      <div class="form-group">
        <label for="fild"  class="control-label col-md-4">Добавить файл</label>
        <div class="col-md-5">
          <input type="file" class="form-control" name="fille" id="fild" ng-model="edit.task.file">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-4">
          <button class="btn btn-success" ng-click="edit.addPost(edit.task, addPost.$valid)">Отправить</button>
        </div>
        <div class="col-md-4  col-md-offset-1">
          <input class="checkbox_save" type="checkbox" checked="checked" id="save" ng-model="edit.task.save">
          <button id="saveButton" type="submit" ng-click="edit.savePost(edit.task, addPost.$valid)" class="btn save_post btn-info" >Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>